@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 18px;
    margin: 0;
    direction: ltr;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: linear-gradient(80deg, #278d42, #e0d3ef);
}

.main {
    margin: auto;
    width: 480px;
    max-width: calc(100% - 65px);
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.60), 0 45px 26px rgba(0, 0, 0, 0.14);
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.1));
    z-index: 3;
    backdrop-filter: blur(1rem);
}

.podcast-description {
    text-align: justify;
    margin: 0;
    font-weight: 400;
    margin-bottom: 20px;
}

.podcast-title {
    text-align: left;
    margin: 0;
    font-size: 25px;
    font-weight: 900;
}

.episode {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 5px;
    border-radius: 10px;
}

.episode:last-child {
    margin-bottom: 0;
}

.episode .number {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgb(0 0 0 / 34%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    font-family: sans-serif;
    color: white;
}

.episode .image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.episode .length {
    position: absolute;
    top: 170px;
    left: 5px;
    background: rgb(0 0 0 / 34%);
    padding: 0 5px 0 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: flex;
    place-items: center;
    font-family: sans-serif;
    height: 25px;
}

.episode .length .length-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: white;
}

.left-holder {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.episode .image-holder {
    width: 200px;
    height: 200px;
    position: relative;
}

.episode .left-holder .title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
}

.episode .left-holder .description {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    height: 130px;
    overflow-x: auto;
    padding-right: 8px;
}

.episode .left-holder .description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(128, 128, 128);
    border-radius: 10px;
    background-color: #f5f5f540
}

.episode .left-holder .description::-webkit-scrollbar {
    width: 5px;
    background-color: transparent
}

.episode .left-holder .description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(143, 143, 143);
    background-color: rgb(150, 150, 150)
}

.episode .links {
    height: 30px;
}

.episode .links .app-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.top {
    position: absolute;
    max-height: 80rem;
    max-width: 80rem;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #e0d3ef, var(--main-color));
    filter: blur(40px);
    animation: bottom 30s infinite;
}

@keyframes bottom {

    0%,
    100% {
        top: -10rem;
    }

    80% {
        top: 50rem;
    }
}

.bottom {
    position: absolute;
    max-height: 50rem;
    max-width: 50rem;
    height: 100%;
    width: 100%;
    right: 0;
    border-radius: 50%;
    background-image: linear-gradient(80deg, var(--main-color), #ebe9ee);
    filter: blur(2rem);
    animation: top 30s infinite;
}

@keyframes top {

    0%,
    100% {
        bottom: -10rem;
    }

    80% {
        bottom: 50rem;
    }
}

.left {
    position: absolute;
    max-height: 50rem;
    max-width: 50rem;
    height: 80%;
    width: 100%;
    left: 0;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #ebe9ee, #2286a4);
    filter: blur(6rem);
    animation: left 30s infinite;
}

@keyframes left {

    0%,
    100% {
        left: -10rem;
    }

    80% {
        left: 80rem;
    }
}

.right {
    position: absolute;
    max-height: 50rem;
    max-width: 50rem;
    height: 100%;
    width: 80%;
    right: 0;
    border-radius: 50%;
    background: linear-gradient(0deg, #ffffff3b, #ffffff69);
    filter: blur(30px);
    animation: right 30s infinite;
}

@keyframes right {

    0%,
    100% {
        right: -10rem;
    }

    80% {
        right: 80rem;
    }
}

.bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.container {
    height: 70vh;
    width: clamp(25rem, 32rem, 25%);
    height: clamp(50rem, 70vh, 55rem);
    position: absolute;
    z-index: 2;
}

.glass {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.1));
    z-index: 3;
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-bottom-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    box-shadow: 0 1.5rem 0 rgba(255, 255, 255, 0.61),
        inset 0 -1.5rem rgba(238, 238, 238, 0.692), 0 4.5rem 0 rgba(0, 0, 0, 0.05);
}